/* Estilos generales */
body {
    background-image: url('./assets/images/oscuro.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de la cabecera */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    z-index: 10;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion_titulo {
    font-size: 2.5em;
    color: aliceblue;
    font-style: oblique;
    background-color: #020202;
    transition: color 0.3;
}

.enlaces {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.enlaces_item {
    margin: 0px 40px;
    font-size: 1.2em;
}

.enlaces_enlace {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.enlaces_enlace:hover {
    color: #ddd;
}

/* Estilos del contenido principal */
.principal {
    padding: 0;
    margin-top: 60px; /* Ajustar según el tamaño de la cabecera */
}

/* Estilos de la sección de presentación */
.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/oscuro.jpg') no-repeat center center/cover;
}

.presentacion_contenedor_info {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background: none;
    border-radius: 10px;
}

.presentacion_titulo {
    font-size: 3em;
    margin: 0;
    animation: cambioColor 5s infinite;
}

.presentacion_parrafo {
    font-size: 1.5em;
    margin: 30px 0;
}

.presentacion_contenedor_botones {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centra horizontalmente los botones */
    margin-top: 30px; /* Añade espacio superior si es necesario */
}

.boton, .boton-oscuro {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    color: #fff;
    justify-content:right;
}

.boton {
    background-color: #4b6af8;

}

.boton:hover {
    background-color: #3a54c7;
}

.boton-oscuro {
    background-color: #333;
}

.boton-oscuro:hover {
    background-color: #555;
}

/*Estilos para Sobre Mi*/
.sobre-mi {
    background-image: url('./assets/images/degradado.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 60px 20px;
    background-color: #f0f0f0;
    color: #ffffff;
    text-align: center;
}

.sobre-mi__contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.sobre-mi__foto-contenedor {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sobre-mi__foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px; /* Espacio entre la foto y la información */
}

.sobre-mi__informacion {
    text-align: center;
}

.sobre-mi__informacion h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #4b6af8;
}

.sobre-mi__informacion p {
    font-size: 1em;
    margin: 0 0 10px;
}

.sobre-mi__contenido {
    flex: 2;
    text-align: left;
}

.sobre-mi__texto, .sobre-mi__historia, .sobre-mi__hobbies {
    margin-bottom: 20px;
}

.sobre-mi__titulo {
    font-size: 2em;
    margin-bottom: 20px;
}

.sobre-mi__subtitulo {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.sobre-mi__parrafo {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
}


/* Estilos de los proyectos */
.articulo_sobre_mi {
    padding: 20px;
}

.articulo_titulo {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.descripcion_porta_retrato img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.seccion_descripcion_info {
    margin-top: 20px;
}

.seccion_descripcion_titulo {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.seccion_descripcion_parrafo {
    margin-bottom: 10px;
    line-height: 1.6;
}

.contenedor_tarjetas_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Estilos del modal */
.modal {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Fijar en la pantalla */
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
    padding-top: 60px; /* Espacio en la parte superior */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
}

.modal__contenido {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal__cerrar {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal__cerrar:hover,
.modal__cerrar:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.tarjeta {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarjeta__imagen {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s; /*Transición para el efecto de agrandamiento*/
}

.tarjeta__imagen:hover {
    transform: scale(1.5); /*Efecto de agrandamiento*/
}

.tarjeta__titulo {
    font-size: 1.4em;
    margin: 10px 0;
}

.tarjeta__parrafo {
    margin-bottom: 10px;
}

/* Estilos del pie de página */
.pie_pagina {
    padding: 40px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.pie_pagina__contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.pie_pagina__columna {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.pie_pagina__titulo_columna {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #4b6af8;
    text-transform: uppercase;
    border-bottom: 2px solid #4b6af8;
    padding-bottom: 10px;
}

.enlaces {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

.enlaces__item {
    margin-bottom: 15px;
}

.enlaces__enlace_footer {
    display: block;
    color: #fcfcfc;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
    margin-bottom: 10px;
    padding: 10px;
}

.enlaces__enlace_footer:hover {
    color: #4b6af8;
}

.enlaces_redes .enlaces__item {
    display: inline-block;
    margin-right: 15px;
}

.enlaces__icono {
    padding: 0px 30px;
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.enlaces__icono:hover {
    transform: scale(1.1);
}

.pie_pagina__copyright {
    margin-top: 40px;
    font-size: 1em;
    color: #bbb;
    border-top: 1px solid #4b6af8;
    padding-top: 20px;
}

@keyframes cambioColor {
    0% { color: rgb(255, 0, 98); } /* Color inicial */
    25% { color: blue; } /* Cambio de color en el 25% del tiempo */
    50% { color: rgb(8, 151, 247); } /* Cambio de color en el 50% del tiempo */
    75% { color: orange; } /* Cambio de color en el 75% del tiempo */
    100% { color: rgb(111, 0, 255); } /* Color final, igual al inicial para hacer un ciclo */
}
